<div id="<%= dom_id friend %>">
  <div>
    <p>First name: <%= friend.first_name %></p>
  </div>
  <div>
    <p>Last name: <%= friend.last_name %></p>
  </div>
  <div>
    <p>Email: <%= friend.email %></p>
  </div>
  <div>
    <p>Phone: <%= friend.phone %></p>
  </div>
  <div>
    <p>Twitter:  <%= friend.twitter %></p>
  </div>
</div>